API_HOST_PORT="0.0.0.0:8080"
API_GRACEFUL_WAIT_TIME="30s"

DB_USER="XXXXXXXXXX"
DB_DATABASE="scaffolding"
DB_PASSWORD="XXXXXXXX"

SERVER_BIND=":8080"

DD_ENV="development"
DD_SERVICE="scaffolding"
DD_WITH_PROFILER=false
